Django==4.2.1
django-crispy-forms==1.9.0
Pillow==9.5.0
six==1.16.0
pytest==7.3.1
pytest-django==4.5.2
dj-database-url==2.0.0
dj-static==0.0.6
gunicorn==20.1.0
Unipath==1.1
python-decouple==3.8
Markdown==3.4.3
bleach==6.0.0
whitenoise==6.4.0
python-dotenv==1.0.0
django-widget-tweaks==1.4.12
django-bootstrap4==23.1
