{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block title %}Django E-commerce{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
        <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">
        <link rel="stylesheet" href="{% static "css/twitter-bootstrap-5.1.1.min.css" %}">
        <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
        <link rel="stylesheet" href="{% static "css/aos.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>

    <body>
        <div class="site-wrap">
            {% if messages.0 %}
                <div class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
                    <div class="d-flex justify-content-between">
                        <div class="toast-body">
                            {{ messages.0 }}
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endif %}
            {% include 'shop/base/navbar.html' %}
            {% block content %}
            {% endblock %}
            {% include 'shop/base/footer.html' %}
        </div>
        <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
        <script src="{% static "js/jquery-ui.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/twitter-bootstrap-5.1.1.min.js" %}"></script>
        <script src="{% static "js/owl.carousel.min.js" %}"></script>
        <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
        <script src="{% static "js/aos.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </body>
    <script>
        function showToast(message, type) {
            const toastText = $(`
                  <div class="toast bg-${type}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
                    <div class="d-flex justify-content-between">
                        <div class="toast-body">
                            ${message}
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            `);
            $('body').append(toastText);
            const toastEl = document.querySelector('.toast');
            const toast = new bootstrap.Toast(toastEl);
            toast.show();
        }

        {% for message in messages %}
            showToast("{{ message|escapejs }}", "{{ message.tags }}");
        {% endfor %}
    </script>
    {% block sctipt %}
    {% endblock %}
</html>
